version: 2.1

orbs:
  codecov: codecov/codecov@5

parameters:
  cosign-version:
    type: string
    default: "3.0.2"

commands:
  install-docker:
    steps:
      - run:
          name: Install Docker
          command: curl -sL https://get.docker.com | bash
  install-binfmt:
    steps:
      - run:
          name: Install Cross-Platform Emulators
          command: docker run --privileged --rm tonistiigi/binfmt --install all
  install-syft:
    steps:
      - run:
          name: Install syft
          command: curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
  install-cosign:
    steps:
      - run:
          name: Install cosign
          command: |
            COSIGN_VERSION="v<< pipeline.parameters.cosign-version >>"
            wget -q "https://github.com/sigstore/cosign/releases/download/${COSIGN_VERSION}/cosign-linux-amd64"
            wget -q -O - "https://github.com/sigstore/cosign/releases/download/${COSIGN_VERSION}/cosign_checksums.txt" | grep -w cosign-linux-amd64 | sha256sum -c
            install cosign-linux-amd64 /usr/local/bin/cosign
            rm cosign-linux-amd64

executors:
  node:
    docker:
      - image: node:24-slim
  golangci-lint:
    docker:
      - image: golangci/golangci-lint:v2.6
  golang:
    docker:
      - image: golang:1.25

jobs:
  lint-markdown:
    executor: node
    steps:
      - checkout
      - run:
          name: Install markdownlint
          command: npm install -g markdownlint-cli
      - run:
          name: Check for Lint
          command: markdownlint .

  lint-source:
    executor: golangci-lint
    steps:
      - checkout
      - run:
          name: Check for Lint
          command: golangci-lint run

  check-go-mod:
    executor: golang
    steps:
      - checkout
      - run:
          name: Go Mod Tidy
          command: go mod tidy
      - run:
          name: Check Module Tidiness
          command: git diff --exit-code -- go.mod go.sum

  build-source:
    executor: golang
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run:
          name: Download Go modules
          command: go mod download
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod
      - run:
          name: Build Source
          command: go build ./...

  unit-test:
    executor: golang
    steps:
      - checkout
      - run:
          name: Run Unit Tests
          command: go test -coverprofile cover.out -race ./...
      - codecov/upload:
          files: cover.out

  release-test:
    executor: golang
    steps:
      - checkout
      - setup_remote_docker
      - install-docker
      - install-binfmt
      - install-syft
      - install-cosign
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run:
          name: Download Go modules
          command: go mod download
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod
      - run:
          name: Test Release
          command: curl -sfL https://goreleaser.com/static/run | DISTRIBUTION=oss bash -s -- release --snapshot --skip publish

  publish-release:
    executor: golang
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install aws-cli
          command: |
            apt-get update
            apt-get install -y awscli
      - install-docker
      - install-binfmt
      - run:
          name: Authenticate with DockerHub
          command: echo "${DOCKER_PASSWORD}" | docker login docker.io -u "${DOCKER_USERNAME}" --password-stdin
      - install-syft
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}
      - run:
          name: Download Go modules
          command: go mod download
      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod
      - run:
          name: Publish Release
          command: curl -sfL https://goreleaser.com/static/run | DISTRIBUTION=oss bash -s -- release
      - install-cosign
      - run:
          name: Attach attestations to image
          command: |
            aws ecr get-login-password | cosign login -u AWS --password-stdin ${AWS_ECR_ENDPOINT}
            TAG="`echo $CIRCLE_TAG | sed -e 's/^v//'`"
            for ARCH in amd64 arm64v8
            do
              IMAGE="sylabsio/scs-build:${TAG}-${ARCH}"
              syft scan -q -o cyclonedx-json=sbom.cdx.json "${IMAGE}"
              cosign attest --yes --predicate sbom.cdx.json --type cyclonedx --key "awskms:///${COSIGN_KEY_ID}" "${IMAGE}"
            done

workflows:
  build-and-test:
    jobs:
      - lint-markdown
      - lint-source
      - check-go-mod
      - build-source
      - unit-test
      - release-test

  tagged-release:
    jobs:
      - publish-release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
          context:
            - aws-production
            - dockerhub-release
            - github-release
            - cosign-release
